<div class="g-form">
    <div class="g-form__container g-card">
        <h2 class="g-form__title">Alterar Senha</h2>
        <div class="g-form__title-decoration"></div>
        <form class="g-form__form" [formGroup]="updatePasswordForm" (ngSubmit)="updatePassword()">
             <div class="g-form__item w-full lg:w-1/2">
                <label class="g-form__label" for="currentPassword">Senha atual</label>
                <input class="g-form__input" type="password" id="currentPassword" name="currentPassword" formControlName="currentPassword">
                <div class="g-form__error" *ngIf="currentPassword.invalid && (currentPassword.dirty || currentPassword.touched)">
                    <p *ngIf="currentPassword.hasError('required')">O campo <b>Senha atual</b> é obrigatório</p>
                    <p *ngIf="currentPassword.hasError('incorrectCurrentPassword')">A <b>Senha atual</b> está incorreta</p>
                </div>
            </div>
             <div class="g-form__item w-full lg:w-1/2">
                <label class="g-form__label" for="newPassword">Nova senha</label>
                <input class="g-form__input" type="password" id="newPassword" name="newPassword" formControlName="newPassword">
                <div class="g-form__error" *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)">
                    <p *ngIf="newPassword.hasError('required')">O campo <b>Nova Senha</b> é obrigatório</p>
                    <p *ngIf="newPassword.hasError('minlength')">A Nova Senha deve ter no mínimo <b>8 caracteres</b></p>
                    <p *ngIf="newPassword.hasError('noUpperCaseLetter')">A Nova Senha deve ter no mínimo <b>1 letra maiúscula</b></p>
                    <p *ngIf="newPassword.hasError('noLowerCaseLetter')">A Nova Senha deve ter no mínimo <b>1 letra minúscula</b></p>
                    <p *ngIf="newPassword.hasError('noNumber')">A Nova Senha deve ter no mínimo <b>1 número</b></p>
                    <p *ngIf="newPassword.hasError('noSpecialChar')">A Nova Senha deve ter no mínimo <b>1 caractere especial</b></p>
                </div>
            </div>
             <div class="g-form__item w-full lg:w-1/2">
                <label class="g-form__label" for="newPasswordConfirmation">Confirmar nova senha</label>
                <input class="g-form__input" type="password" id="newPasswordConfirmation" name="newPasswordConfirmation" formControlName="newPasswordConfirmation">
                <div class="g-form__error" *ngIf="newPasswordConfirmation.invalid && (newPasswordConfirmation.dirty || newPasswordConfirmation.touched)">
                    <p *ngIf="newPasswordConfirmation.hasError('required')">O campo <b>Confirmar nova senha</b> é obrigatório</p>
                    <p *ngIf="newPasswordConfirmation.hasError('passwordMismatch')">As senhas devem ser iguais</p>
                </div>
            </div>
            <div class="g-form__error">
                <p *ngIf="updatePasswordForm.hasError('invalidData')">Informações inválidas</p>
                <p *ngIf="updatePasswordForm.hasError('serverError')">Ocorreu um erro inesperado. Tente novamente mais tarde</p>
            </div>
            <app-button>Alterar Senha</app-button>
        </form>
    </div>
</div>